[submodule "libs/catch2"]
	path = libs/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "docs/doxygen-awesome-css"]
	path = docs/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
